@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-gradient {
    background-image: linear-gradient(
      to right top,
      #17147d,
      #3d3393,
      #5b52a9,
      #7972bf,
      #9793d4,
      #a599d9,
      #b29edd,
      #bfa4e1,
      #c38dd1,
      #c874bb,
      #cd59a0,
      #ce3a80
    );
  }
}
body {
  @apply bg-gray-50 dark:bg-gray-900;
}
@keyframes custom-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  animation: custom-spin 1s linear infinite;
}
